<div class="footer">
  <p>Contact me: <a href="mailto:jeremy.gousse@gmail.com">jeremy.gousse@gmail.com</a></p>
  <p>
    Follow me:
    <a target="_blank" href="https://www.facebook.com/jeremy.gousse"><img class="icon" src="/css/images/icon-facebook.png" /></a>
    <a target="_blank" href="http://www.linkedin.com/pub/gouss%C3%A9-j%C3%A9r%C3%A9my/20/141/1b8"><img class="icon" src="/css/images/icon-linkedin.jpg" /></a>
  </p>
</div>