<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jeremy Gousse Personal Website</title>

    <link rel="stylesheet" type="text/css" href="/css/index.css">

    <script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/menus.js"></script>
</head>

<body>
    <%= erb :menus %>
    <%= erb :content %>
    <div class="separator"></div>
    <%= erb :footer %>
</body>
</html>