<div class="top_menu">
  <ul>
    <li><a href="/" class="icon icon-home">Home</a></li>
    <li><a href="http://bdajeje.wordpress.com" target="_blank" class="icon icon-blog">Blog</a></li>
    <li>
      <a class="js-slide icon icon-cpp" jg-slide-target="menu-cpp">C++</a>
      <div id="menu-cpp" class="hidden">
        <ul class="child-menu">
          <li><a>Projet 1</a></li>
          <li><a>Projet 2</a></li>
          <li><a>Projet 3</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="js-slide icon icon-linux" jg-slide-target="menu-linux">Linux</a>
      <div id="menu-linux" class="hidden">
        <ul class="child-menu">
          <li><a>Projet 1</a></li>
          <li><a>Projet 2</a></li>
          <li><a>Projet 3</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="js-slide icon icon-python" jg-slide-target="menu-python">Python</a>
      <div id="menu-python" class="hidden">
        <ul class="child-menu">
          <li><a>Projet 1</a></li>
          <li><a>Projet 2</a></li>
          <li><a>Projet 3</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="js-slide icon icon-javascript" jg-slide-target="menu-javascript">Javascript</a>
      <div id="menu-javascript" class="hidden">
        <ul class="child-menu">
          <li><a href="/javascript/clock">Clock</a></li>
          <li><a href="/javascript/pingpong">PingPong</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>